<% content_for(:title, "#{@product.name} | Jungle") %>

<h1> <%= @product.name %> </h1>
  <%= image_tag(@product.picture.url(:medium)) %>
  <ul>
    <li><%= @product.price %></li>
    <li><%= @product.description%></li>
  </ul>
<%= link_to "Product Menu", products_path, :class=> "btn btn-primary" %>
<% if current_user %>
  <%= link_to "Edit Product", edit_product_path, :class=> "btn btn-warning" %>
  <%= link_to "Delete", product_path(@product),
                      :confirm => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>
<% end %>

